body {
    font-family: 'Nico Moji', 'Noto Sans JP', sans-serif !important;
}
.navbar {
    background-color: black;
}
.navbar-toggler{
    border-color: #ffffff !important;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.nav-content {
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#page-error {
    background-color: #fbdfdf;
    color: red;
    border-radius: 0.25rem;
    margin-top: 220px;
}
#page-error-btn {
    margin-bottom: 180px;
}
#signup-error {
    background-color: #fbdfdf;
    color: red;
    border-radius: 0.25rem;
}
#signup-complete {
    background-color: #d4edda;
    color: #155724;
    border-radius: 0.25rem;
}
#login-character {
    background-color: #b5bec7;
    color: #14191d;
    border-radius: 0.25rem;
}
#character-image {
    object-fit: cover;
    border-radius: 4px;
}
#profile-image {
    object-fit: cover;
    border-radius: 50%;
}
.name-check {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.character-text {
    white-space: pre-wrap;
    font-size: larger;
}
.terms {
    color: rgba(0, 0, 0, 0.8) !important;
}
.terms:hover {
    color: rgba(0, 0, 0, 2) !important;
}
.font-size-large {
    font-size: 30px;
}
.mt-135 {
    margin-top: 135px;
}
.mb-135 {
    margin-bottom: 135px;
}
.m-width-800 {
    max-width: 800px !important;
}
.m-width-500 {
    max-width: 500px !important;
}
.m-width-200 {
    max-width: 200px;
}
@media (max-width: 767px) {
    .m-center {
        margin-left: auto;
        margin-right: auto;
    }
}
.text-black {
    color: black;
}
.text {
    display: inline-block;
    letter-spacing: 0;
}
.btn {
    border-radius: 10rem !important;
}