{{ define "content" }}
<section id="character-list">
    <div class="container mb-135 mt-135 m-width-800">
        <h4 class="mb-3">一覧</h4>
        <div class="row align-items-center justify-content-start">
            {{ range . }}
            <div class="col-md-3">
                <a href="/character/detail?uuid={{.Uuid }}"><img class="img-fluid" src="{{ .Image }}" width="250" height="250" alt="" id="character-image"></a>
                <div class="mb-3 mt-2"><img src="{{ .User.Icon }}" class="mr-2 mb-1" width="20" height="20" alt="" id="profile-image">{{ .User.Name }}</div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}