{{ define "content" }}
<header class="masthead">
    <div class="container mt-135">
        <div class="row align-items-center justify-content-center text-center">
            <img class="img-fluid" src="/static/osoushiki_shinpai.png" width="320" height="320" alt="">
            <div class="col-lg-10 align-self-end mt-5">
                <h1 class="text-black font-weight-bold">
                    <span class="text">ここは</span>
                    <span class="text">キャラクター達の</span>
                    <span class="text">墓場です</span>
                </h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">あなたが考えた、ネタキャラクター、没キャラクター、使わなくなったキャラクターなどをここに埋めてみましょう
                </p>
                <a class="btn btn-info btn-lg" href="/character/new">埋葬する</a>
            </div>
        </div>
    </div>
</header>

<section class="page-section mb-135" id="newest-character">
    <div class="container mt-5 m-width-800">
        <h3>新規のキャラクター</h3>
        <div class="popular-contents row align-items-center justify-content-start">
            {{ range . }}
            <div class="col-md-3">
                <a href="/character/detail?uuid={{ .Uuid }}"><img src="{{ .Image }}" width="150" height="150" alt="" id="character-image"></a>
                <div class="character-name">{{ .Name }}</div>
                <div class="mb-3 mt-2"><img src="{{ .User.Icon }}" class="mr-2 mb-1" width="20" height="20" alt="" id="profile-image">{{ .User.Name }}</div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}