{{ define "content" }}
<header class="masthead">
    <div class="container mt-135">
        <div class="row align-items-center justify-content-center text-center">
            <img class="img-fluid" src="/static/haka.jpg" width="320" height="320" alt="">
            <div class="col-lg-10 align-self-end mt-5">
                <h1 class="text-black font-weight-bold">
                    <span class="text">ここは</span>
                    <span class="text">キャラクター達の</span>
                    <span class="text">墓場です</span>
                </h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">あなたが考えた、ネタキャラクター、没キャラクター、使わなくなったキャラクターなどをここに埋めてみましょう
                </p>
                <a class="btn btn-info btn-lg" href="#about">埋葬する</a>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="popular-character">
    <div class="container mt-5 m-width-800">
        <h3>人気のキャラクター</h3>
        <div class="popular-contents row">

        </div>
    </div>
</section>

<section class="page-section" id="newest-character">
    <div class="container mt-5 m-width-800">
        <h3>新規のキャラクター</h3>
        <div class="popular-contents row">

        </div>
    </div>
</section>
{{ end }}