{{ define "content" }}
<section id="user-mypage">
    <div class="container mb-135 mt-135 m-width-800">
        <div class="align-items-center justify-content-center text-center">
            <h2>プロフィールの変更</h2>
        </div>
        <form class="mt-5" role="form" action="/change_profile" enctype="multipart/form-data" method="post">
            <input type="hidden" name="uuid" value="{{ .Uuid }}">
            <div class="form-group">
                <label for="InputName">新しいユーザー名</label>
                <input type="text" name="name" class="form-control is-invalid" id="InputName" value="{{ .Name }}">
                <div class="invalid-feedback">新しいお名前が入力されていませんでした。</div>
            </div>
            <div class="form-group">
                <label for="InputIcon">新しいアイコン画像</label>
                <input type="file" name="icon" class="form-control-file" id="InputIcon" accept="image/*">
            </div>
            <div class="mt-5 align-items-center justify-content-center text-center">
                <button type="submit" class="btn btn-primary">編集を完了する</button>
            </div>
        </form>
    </div>
</section>
{{ end }}