{{ define "content" }}
<section id="user-mypage">
    <div class="container mb-135 mt-135 m-width-800">
        <div class="align-items-center justify-content-center text-center">
            <h2>プロフィールの変更</h2>
        </div>
        <form class="mt-5" role="form" action="/signup_account" method="post">
            <div class="form-group">
                <label for="InputName">新しいユーザー名</label>
                <input type="text" name="name" class="form-control" id="InputName">
            </div>
        </form>
        <div class="mt-5 align-items-center justify-content-center text-center">
            <a class="btn btn-primary mt-4" href="#about">編集を完了する</a>
        </div>
    </div>
</section>
{{ end }}