{{ define "content" }}
<form class="container mb-135 mt-135 m-width-800" role="form" action="/signup_account" method="post">
    <div class="form-group">
        <label for="InputName">ユーザー名</label>
        <input type="text" name="name" class="form-control" id="InputName">
    </div>
    <div class="form-group">
        <label for="InputEmail">メールアドレス</label>
        <input type="email" name="email" class="form-control" id="InputEmail">
    </div>
    <div class="form-group">
        <label for="InputPassword">パスワード</label>
        <input type="password" name="password" class="form-control" id="InputPassword"
            aria-describedby="passwordlHelp1">
        <small id="passwordlHelp1" class="form-text text-muted">※英数字8文字以上</small>
    </div>
    <div class="form-group">
        <label for="InputConfirmPassword">確認用パスワード</label>
        <input type="password" name="confirm-password" class="form-control" id="InputConfirmPassword"
            aria-describedby="passwordlHelp2">
        <small id="passwordlHelp2" class="form-text text-muted">※英数字8文字以上</small>
    </div>
    <button type="submit" class="btn btn-primary">新規登録</button>
</form>
{{ end }}